<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Socket.io Server</title>
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>